/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 avr. 2016, 17:44:10
    Author     : tony
*/

body {
    margin-left: 20%;
}

#menu {
    position: fixed; 
    left:0; 
    top:0; 
    bottom:0; 
    border:1px solid black; 
    width: 17%;
}