{% extends "base.html" %}

{% block title %}Ecran principal{% endblock %}

{% block content %}

<aside>
    <button id="aff_hide_but" type="button" class="btn btn-default" style="width: 150px; margin-bottom: 20px" onclick="toggleNdots()"><span id="but_icon" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Masquer les<br/>points en marge</button>
    <button id="step_but" type="button" class="btn btn-default" style="width: 150px; margin-bottom: 20px"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Prochaine étape</button>
    <hr>
    <form action="/send_request/" method="POST" id="post-form" style="width: 120px; margin: auto; margin-bottom: 20px">
        {% csrf_token %}
        <ul>
            <li>K = <span id="k_val">{{ k }}</span></li>
            <li>N = <span id="n_val">{{ n }}</span></li>
            <li>Étape = <span id="step_val">{{ step }}</span></li>
        </ul>
        <input type='hidden' name='k_val' value='{{k}}'/>
        <input type='hidden' name='n_val' value='{{n}}'/>
        <input type='hidden' name='step_val' value='{{step}}'/>
    </form>
</aside>

<div id="divPlot"></div>

<script>
    $(document).ready( function(){
        var q = true;
        $("#aff_hide_but").click( function(){
            if (q) {
                $(this).html("<span class=\"glyphicon glyphicon-eye-close\" aria-hidden=\"true\"></span> Masquer les<br\/>points hors marge"); 
                q = false; 
            }
            else {
                $(this).html("<span class=\"glyphicon glyphicon-eye-open\" aria-hidden=\"true\"></span> Afficher les<br\/>points hors marge"); 
                q = true; 
            }
        });  
    });
</script>

<script>
    $(document).ready( function(){
        // Submit post on submit
        $('#step_but').on('click', function(event){
            console.log("ajax submitting");  // sanity check
            send_request();
        }); 
        // AJAX for posting
        function send_request() {
            console.log($('#step_val').text());
            var val = $('#step_val').text();
            var val2 = $('#k_val').text();
            var val3 = $('#n_val').text();
            $.ajax({
                url : "step/", // the endpoint
                type : "POST", // http method
                data : { "step" : val, "k" : val2, "n" : val3 }, // data sent with the post request

                // handle a successful response
                success : function(json) {
                    console.log(json); // log the returned json to the console
                    console.log("success"); // another sanity check
                    jsonData = json;
                    $('#step_val').text( parseInt(val, 10)+1 );
                    cleanGraph();
                    mydraw();
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        };
    });
</script>

<script>
    var jsonData = {% autoescape off %}{{ data }}{% endautoescape %};

    if ( {{ nb_arg }} == 2 ) 
    {
        d3.select('#divPlot').style('display', "none");

        var isMargeHidded = 0;

        var ScreenX = window.innerWidth-200;
        var ScreenY = window.innerHeight-100;

        var margin = {top: 30, right: 40, bottom: 30, left: 50},
        width = ScreenX - margin.left - margin.right,
        height = ScreenY - margin.top - margin.bottom;

        var x = d3.scale.linear().domain([-0.01, 1]).range([0, width]);
        var y = d3.scale.linear().domain([-0.02, 1]).range([height, 0]);

        var xAxis = d3.svg.axis().scale(x).orient("bottom").ticks(20);
        var yAxis = d3.svg.axis().scale(y).orient("left").ticks(20);

        var zoom = d3.behavior.zoom().x(x).y(y).scaleExtent([1, 32]).on("zoom", zoomed);

        var svg = d3.select("body").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom);
        var graph = svg.append("g");
            
        graph.attr("transform", "translate(" + margin.left + "," + margin.top + ")")
            .call(zoom)
            .style({'font-size': '10px', 'font-family': 'sans-serif',
                'font-style': 'normal', 'font-variant': 'normal', 
                'font-weight': 'normal'});

        // svg.style("cursor","move");

        graph.append("rect")
            .attr("width", width)
            .attr("height", height);

        var tooltip = d3.select("body").append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);

        graph.append("g")            // Add the X Axis
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .style({ 'stroke': 'Black', 'fill': 'none', 'stroke-width': '1px'})
            .call(xAxis);

        graph.append("g")             
            .attr("class", "y axis")    
            .style({ 'stroke': 'Black', 'fill': 'none', 'stroke-width': '1px'})      
            .call(yAxis);

        var color = { 0:"CornflowerBlue", 1:"orange", 2:"green", 3:"Indigo", 4:"purple", 5:"DeepPink", 6:"pink" };

        nb_clusters = Object.keys(jsonData).length;

        console.log( nb_clusters );

        // traiter le cas du graphe 3D ou 2D
        // le graphe 2D s'affiche de toute façon, le graphe 3D si on spécifie une 3e coord
        // if ( {{ nb_arg }} == 2 ) {alert("2 args");} else{alert("3 args");};

        mydraw();

        function zoomed() 
        {
            graph.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
        }

        function zoomReset() 
        {
            console.log("click");
            graph.attr("transform", "translate(" + margin.left + "," + margin.top + ")scale(1)");
        }
        
        function toggleNdots() 
        {
            if( isMargeHidded ) 
            {
                var x = document.getElementsByClassName("estEnMarge");
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "block";
                }
                isMargeHidded = 0;
            } else{
                var x = document.getElementsByClassName("estEnMarge");
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                isMargeHidded = 1;
            }
        }

        function cleanGraph() 
        {
            for (var i = 0; i < nb_clusters; i++) {
                graph.selectAll('.lines'+i).remove();
                graph.selectAll('.pointMeans'+i).remove();
            }
        }

        function mydraw() 
        {
            for (var i = 0; i < nb_clusters; i++) 
            {
                var u, v, w;
                u = jsonData[i]["centroid"][0]["x"];
                v = jsonData[i]["centroid"][0]["y"];
                // draw lines
                var lines = graph.selectAll('.lines'+i).data(jsonData[i]["points"])
                  .enter().append('line')
                  .attr('class',function(d) { if( d["isMarge"] ) return "lines"+i+" estEnMarge"; else return "lines"+i+" pasEnMarge"; })
                  // .attr('class',function(d) { if( d["isMarge"] ) return "estEnMarge"; else return "pasEnMarge"; })
                  .attr('x1',function(d) { return x(d["x"]); })
                  .attr('y1',function(d) { return y(d["y"]); })
                  .attr('x2',x(u))
                  .attr('y2',y(v))
                  .attr('stroke', function(d) { return color[i]; })
                  .attr("stroke-width",0.5);

                // draw points
                var pointDots = graph.selectAll('.pointDots'+i).data(jsonData[i]["points"]);
                pointDots.enter().append('circle')
                  .attr('class',function(d) { if( d["isMarge"] ) return "pointDots"+i+" estEnMarge"; else return "pointDots"+i+" pasEnMarge"; })
                  .attr('cx', function(d) { return x(d["x"]); })
                  .attr('cy', function(d) { return y(d["y"]); })
                  .attr('fill', function(d) {if (d["isSpam"]) return "red"; else return "blue";} )
                  // .attr("stroke", function(d) { return "black"; })
                  .attr("r", function(d, i) { return 1.5 })
                  .on("mouseover", function(d) {
                      var ajoutstr = "";
                      if (d["isSpam"]) { tooltip.style("background-color", "red"); ajoutstr = "Spam!"; } else{ tooltip.style("background-color", "green"); ajoutstr = "Ce n'est pas un spam"; };
                      tooltip.transition().duration(200).style("opacity", .9);
                      tooltip.html( ajoutstr + "<br/>x = " + d["x"] + "<br/>y = " + d["y"] )
                           .style("left", (d3.event.pageX + 5) + "px")
                           .style("top", (d3.event.pageY - 28) + "px");
                  })
                  .on("mouseout", function(d) {
                      tooltip.transition()
                           .duration(500)
                           .style("opacity", 0);
                  })
                  ;

                // draw centroid (mean point)
                var pointMeans = graph.selectAll('.pointMeans'+i).data(jsonData[i]["centroid"]);
                pointMeans.enter().append('circle').attr('class','pointMeans'+i)
                  .attr('cx', function(d){ return x(d["x"]); })
                  .attr('cy', function(d){ return y(d["y"]); })
                  .attr("fill", "white")
                  .attr("stroke", function(d) { return color[i]; })
                  .attr("stroke-width",2)
                  .attr("r", function(d, i) { return 5 });

            };
        }
    } 
    else
    {
        var ScreenX = window.innerWidth-150;
        var ScreenY = window.innerHeight-20;

        var margin = {top: 30, right: 40, bottom: 30, left: 50},
        width = ScreenX - margin.left - margin.right,
        height = ScreenY - margin.top - margin.bottom;

        d3.select('html').style('height','100%').style('width','100%');
        d3.select('body').style('height','100%').style('width','100%');
        d3.select('#divPlot').style('width', width+"px").style('height', height+"px").style('background-color', "lightgray");
        scatterPlot3d( d3.select('#divPlot') );

        // Create a 3d scatter plot within d3 selection parent.
        function scatterPlot3d( parent )
        {
          var x3d = parent.append("x3d")
              .style( "width", parseInt(parent.style("width"))+"px" )
              .style( "height", parseInt(parent.style("height"))+"px" )
              .style( "border", "none" )
              
          var scene = x3d.append("scene")

          scene.append("orthoviewpoint")
             .attr( "centerOfRotation", [5, 5, 5])
             .attr( "fieldOfView", [-5, -5, 15, 15])
             .attr( "orientation", [-0.5, 1, 0.2, 1.12*Math.PI/4])
             .attr( "position", [8, 4, 15])

          var rows = initializeDataGrid();
          var axisRange = [0, 10];
          var scales = [];
          var initialDuration = 0;
          var defaultDuration = 800;
          var ease = 'linear';
          var time = 0;
          var axisKeys = ["x", "y", "z"]

          // Helper functions for initializeAxis() and drawAxis()
          function axisName( name, axisIndex ) {
            return ['x','y','z'][axisIndex] + name;
          }

          function constVecWithAxisValue( otherValue, axisValue, axisIndex ) {
            var result = [otherValue, otherValue, otherValue];
            result[axisIndex] = axisValue;
            return result;
          }

          // Used to make 2d elements visible
          function makeSolid(selection, color) {
            selection.append("appearance")
              .append("material")
                 .attr("diffuseColor", color||"black")
            return selection;
          }

          // Initialize the axes lines and labels.
          function initializePlot() {
            initializeAxis(0);
            initializeAxis(1);
            initializeAxis(2);
          }

          function initializeAxis( axisIndex )
          {
            var key = axisKeys[axisIndex];
            drawAxis( axisIndex, key, initialDuration );

            var scaleMin = axisRange[0];
            var scaleMax = axisRange[1];

            // the axis line
            var newAxisLine = scene.append("transform")
                 .attr("class", axisName("Axis", axisIndex))
                 .attr("rotation", ([[0,0,0,0],[0,0,1,Math.PI/2],[0,1,0,-Math.PI/2]][axisIndex]))
              .append("shape")
            newAxisLine
              .append("appearance")
              .append("material")
                .attr("emissiveColor", "lightgray")
            newAxisLine
              .append("polyline2d")
                 // Line drawn along y axis does not render in Firefox, so draw one
                 // along the x axis instead and rotate it (above).
                .attr("lineSegments", "0 0," + scaleMax + " 0")

           // axis labels
           var newAxisLabel = scene.append("transform")
               .attr("class", axisName("AxisLabel", axisIndex))
               .attr("translation", constVecWithAxisValue( 0, scaleMin + 1.1 * (scaleMax-scaleMin), axisIndex ))

           var newAxisLabelShape = newAxisLabel
             .append("billboard")
               .attr("axisOfRotation", "0 0 0") // face viewer
             .append("shape")
             .call(makeSolid)

           var labelFontSize = 0.6;

           newAxisLabelShape
             .append("text")
               .attr("class", axisName("AxisLabelText", axisIndex))
               .attr("solid", "true")
               .attr("string", key)
            .append("fontstyle")
               .attr("size", labelFontSize)
               .attr("family", "SANS")
               .attr("justify", "END MIDDLE" )
          }

          // Assign key to axis, creating or updating its ticks, grid lines, and labels.
          function drawAxis( axisIndex, key, duration ) {

            var scale = d3.scale.linear()
              .domain( [0,1] ) // demo data range
              .range( axisRange )
            
            scales[axisIndex] = scale;

            var numTicks = 8;
            var tickSize = 0.1;
            var tickFontSize = 0.5;

            // ticks along each axis
            var ticks = scene.selectAll( "."+axisName("Tick", axisIndex) )
               .data( scale.ticks( numTicks ));
            var newTicks = ticks.enter()
              .append("transform")
                .attr("class", axisName("Tick", axisIndex));
            newTicks.append("shape").call(makeSolid)
              .append("box")
                .attr("size", tickSize + " " + tickSize + " " + tickSize);
            // enter + update
            ticks.transition().duration(duration)
              .attr("translation", function(tick) { 
                 return constVecWithAxisValue( 0, scale(tick), axisIndex ); })
            ticks.exit().remove();

            // tick labels
            var tickLabels = ticks.selectAll("billboard shape text")
              .data(function(d) { return [d]; });
            var newTickLabels = tickLabels.enter()
              .append("billboard")
                 .attr("axisOfRotation", "0 0 0")     
              .append("shape")
              .call(makeSolid)
            newTickLabels.append("text")
              .attr("string", scale.tickFormat(10))
              .attr("solid", "true")
              .append("fontstyle")
                .attr("size", tickFontSize)
                .attr("family", "SANS")
                .attr("justify", "END MIDDLE" );
            tickLabels // enter + update
              .attr("string", scale.tickFormat(10))
            tickLabels.exit().remove();

            // base grid lines
            if (axisIndex==0 || axisIndex==2) {

              var gridLines = scene.selectAll( "."+axisName("GridLine", axisIndex))
                 .data(scale.ticks( numTicks ));
              gridLines.exit().remove();
              
              var newGridLines = gridLines.enter()
                .append("transform")
                  .attr("class", axisName("GridLine", axisIndex))
                  .attr("rotation", axisIndex==0 ? [0,1,0, -Math.PI/2] : [0,0,0,0])
                .append("shape")

              newGridLines.append("appearance")
                .append("material")
                  .attr("emissiveColor", "gray")
              newGridLines.append("polyline2d");

              gridLines.selectAll("shape polyline2d").transition().duration(duration)
                .attr("lineSegments", "0 0, " + axisRange[1] + " 0")

              gridLines.transition().duration(duration)
                 .attr("translation", axisIndex==0
                    ? function(d) { return scale(d) + " 0 0"; }
                    : function(d) { return "0 0 " + scale(d); }
                  )
            }  
          }

          // Update the data points (spheres) and stems.
          function plotData( duration ) {
            
            if (!rows) {
             console.log("no rows to plot.")
             return;
            }

            var x = scales[0], y = scales[1], z = scales[2];
            var sphereRadius = 0.2;

            // Draw a sphere at each x,y,z coordinate.
            var datapoints = scene.selectAll(".datapoint").data( rows );
            datapoints.exit().remove()

            var newDatapoints = datapoints.enter()
              .append("transform")
                .attr("class", "datapoint")
                .attr("scale", [sphereRadius, sphereRadius, sphereRadius])
              .append("shape");
            newDatapoints
              .append("appearance")
              .append("material");
            newDatapoints
              .append("sphere")
               // Does not work on Chrome; use transform instead
               //.attr("radius", sphereRadius)

            datapoints.selectAll("shape appearance material")
                .attr("diffuseColor", function(d) {if (d["isSpam"]) return "red"; else return "blue";} )

            datapoints//.transition().ease(ease).duration(duration)
                .attr("translation", function(row) { 
                  return x(row[axisKeys[0]]) + " " + y(row[axisKeys[1]]) + " " + z(row[axisKeys[2]])})

            // Draw a stem from the x-z plane to each sphere at elevation y.
            // This convention was chosen to be consistent with x3d primitive ElevationGrid. 
            // var stems = scene.selectAll(".stem").data( rows );
            // stems.exit().remove();

            // var newStems = stems.enter()
            //   .append("transform")
            //     .attr("class", "stem")
            //   .append("shape");
            // newStems
            //   .append("appearance")
            //   .append("material")
            //     .attr("emissiveColor", "gray")
            // newStems
            //   .append("polyline2d")
            //     .attr("lineSegments", function(row) { return "0 1, 0 0"; })

            // stems.transition().ease(ease).duration(duration)
            //     .attr("translation", 
            //        function(row) { return x(row[axisKeys[0]]) + " 0 " + z(row[axisKeys[2]]); })
            //     .attr("scale",
            //        function(row) { return [1, y(row[axisKeys[1]])]; })
          }

          function initializeDataGrid() {
            var rows = [];
            console.log( jsonData[0]["points"][0] );
            // Follow the convention where y(x,z) is elevation.
            for (var c=0; c< Object.keys(jsonData).length; c+=1) {
                for (var l=0; l< Object.keys(jsonData[0]["points"]).length; l+=1) {
                    rows.push( {x: jsonData[c]["points"][l]["x"], y: jsonData[c]["points"][l]["y"], z: jsonData[c]["points"][l]["z"]} );
                }
            }
            return rows;
          }

          function updateData() {
            time += Math.PI/8;
            if ( x3d.node() && x3d.node().runtime ) {
              for (var r=0; r<rows.length; ++r) {
                var x = rows[r].x;
                var y = rows[r].y;
                var z = rows[r].z;
              }
              plotData( defaultDuration );
            } else {
              console.log('x3d not ready.');
            }
          }

          initializeDataGrid();
          initializePlot();
          setInterval( updateData, defaultDuration );
        }
    }

</script>

{% endblock %}