{% extends "base.html" %}

{% block title %}Ecran principal{% endblock %}

{% block content %}

<aside>
    <button id="aff_hide_but" type="button" class="btn btn-default" style="width: 150px; margin-bottom: 20px" onclick="toggleNdots()"><span id="but_icon" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Afficher les<br/>points en marge</button>
    <button id="incr_but" type="button" class="btn btn-default" style="width: 150px; margin-bottom: 20px" onclick="plusK()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Incrémenter K</button>
    <button id="decr_but" type="button" class="btn btn-default" style="width: 150px; margin-bottom: 20px" onclick="moinsK()"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Décrémenter K</button>
    <button id="step_but" type="button" class="btn btn-default" style="width: 150px; margin-bottom: 20px"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Prochaine étape</button>
    <hr>
    <form action="/send_request/" method="POST" id="post-form" style="width: 120px; margin: auto; margin-bottom: 20px">
        {% csrf_token %}
        <ul>
            <li>K = <span id="k_val">{{ k }}</span></li>
            <li>N = <span id="n_val">{{ n }}</span></li>
            <li>Étape = <span id="step_val">{{ step }}</span></li>
        </ul>
        <input type='hidden' name='k_val' value='{{k}}'/>
        <input type='hidden' name='n_val' value='{{n}}'/>
        <input type='hidden' name='step_val' value='{{step}}'/>
    </form>
</aside>

<script>
    $(document).ready( function(){
        var q = true;
        $("#aff_hide_but").click( function(){
            if (q) {
                $(this).html("<span class=\"glyphicon glyphicon-eye-close\" aria-hidden=\"true\"></span> Masquer les<br\/>points hors marge"); 
                q = false; 
            }
            else {
                $(this).html("<span class=\"glyphicon glyphicon-eye-open\" aria-hidden=\"true\"></span> Afficher les<br\/>points hors marge"); 
                q = true; 
            }
        });  
    });
</script>

<script>
    $(document).ready( function(){
        // Submit post on submit
        $('#step_but').on('click', function(event){
            console.log("ajax submitting");  // sanity check
            send_request();
        }); 
        // AJAX for posting
        function send_request() {
            console.log($('#step_val').text());
            var val = $('#step_val').text();
            var val2 = $('#k_val').text();
            var val3 = $('#n_val').text();
            $.ajax({
                url : "step/", // the endpoint
                type : "POST", // http method
                data : { "step" : val, "k" : val2, "n" : val3 }, // data sent with the post request

                // handle a successful response
                success : function(json) {
                    console.log(json); // log the returned json to the console
                    console.log("success"); // another sanity check
                    jsonData = json;
                    $('#step_val').text( parseInt(val, 10)+1 );
                    // cleanGraph();
                    redraw();
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        };
    });
</script>

<script>
    var jsonData = {% autoescape off %}{{ data }}{% endautoescape %};

    var isMargeHidded = 0;

    var ScreenX = window.innerWidth-200;
    var ScreenY = window.innerHeight-100;

    var margin = {top: 30, right: 40, bottom: 30, left: 50},
    width = ScreenX - margin.left - margin.right,
    height = ScreenY - margin.top - margin.bottom;

    var x = d3.scale.linear().domain([-0.01, 1]).range([0, width]);
    var y = d3.scale.linear().domain([-0.02, 1]).range([height, 0]);

    var xAxis = d3.svg.axis().scale(x).orient("bottom").ticks(20);
    var yAxis = d3.svg.axis().scale(y).orient("left").ticks(20);

    var zoom = d3.behavior.zoom().x(x).y(y).scaleExtent([1, 32]).on("zoom", zoomed);

    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom);
    var graph = svg.append("g");
        
    graph.attr("transform", "translate(" + margin.left + "," + margin.top + ")")
        .call(zoom)
        .style({'font-size': '10px', 'font-family': 'sans-serif',
            'font-style': 'normal', 'font-variant': 'normal', 
            'font-weight': 'normal'});

    // svg.style("cursor","move");

    graph.append("rect")
        .attr("width", width)
        .attr("height", height);

    var tooltip = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

    graph.append("g")            // Add the X Axis
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .style({ 'stroke': 'Black', 'fill': 'none', 'stroke-width': '1px'})
        .call(xAxis);

    graph.append("g")             
        .attr("class", "y axis")    
        .style({ 'stroke': 'Black', 'fill': 'none', 'stroke-width': '1px'})      
        .call(yAxis);

    var color = { 0:"CornflowerBlue", 1:"orange", 2:"green", 3:"Indigo", 4:"purple", 5:"DeepPink", 6:"pink" };

    nb_clusters = Object.keys(jsonData).length;

    console.log( nb_clusters );

    // traiter le cas du graphe 3D ou 2D
    // le graphe 2D s'affiche de toute façon, le graphe 3D si on spécifie une 3e coord
    // if ( {{ nb_arg }} == 2 ) {alert("2 args");} else{alert("3 args");};

    mydraw();

    function zoomed() 
    {
        graph.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
    }

    function zoomReset() 
    {
        console.log("click");
        graph.attr("transform", "translate(" + margin.left + "," + margin.top + ")scale(1)");
    }
    
    function toggleNdots() 
    {
        if( isMargeHidded ) 
        {
            var x = document.getElementsByClassName("estEnMarge");
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            isMargeHidded = 0;
        } else{
            var x = document.getElementsByClassName("estEnMarge");
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "block";
            }
            isMargeHidded = 1;
        }
    }

    function cleanGraph() 
    {
        for (var i = 0; i < nb_clusters; i++) {
            graph.selectAll('.lines'+i).remove();
        }
    }

    function mydraw() 
    {
        for (var i = 0; i < nb_clusters; i++) 
        {
            var u, v, w;
            u = jsonData[i]["centroid"][0]["x"];
            v = jsonData[i]["centroid"][0]["y"];
            // draw lines
            var lines = graph.selectAll('.lines'+i).data(jsonData[i]["points"])
              .enter().append('line')
              .attr('class',function(d) { if( d["isMarge"] ) return "lines"+i+" estEnMarge"; else return "lines"+i+" pasEnMarge"; })
              // .attr('class',function(d) { if( d["isMarge"] ) return "estEnMarge"; else return "pasEnMarge"; })
              .attr('x1',function(d) { return x(d["x"]); })
              .attr('y1',function(d) { return y(d["y"]); })
              .attr('x2',x(u))
              .attr('y2',y(v))
              .attr('stroke', function(d) { return color[i]; })
              .attr("stroke-width",0.5);

            // draw points
            var pointDots = graph.selectAll('.pointDots'+i).data(jsonData[i]["points"]);
            pointDots.enter().append('circle')
              .attr('class',function(d) { if( d["isMarge"] ) return "pointDots"+i+" estEnMarge"; else return "pointDots"+i+" pasEnMarge"; })
              .attr('cx', function(d) { return x(d["x"]); })
              .attr('cy', function(d) { return y(d["y"]); })
              .attr('fill', function(d) {if (d["isSpam"]) return "red"; else return "blue";} )
              // .attr("stroke", function(d) { return "black"; })
              .attr("r", function(d, i) { return 1.5 })
              .on("mouseover", function(d) {
                  var ajoutstr = "";
                  if (d["isSpam"]) { tooltip.style("background-color", "red"); ajoutstr = "Spam!"; } else{ tooltip.style("background-color", "green"); ajoutstr = "Ce n'est pas un spam"; };
                  tooltip.transition().duration(200).style("opacity", .9);
                  tooltip.html( ajoutstr + "<br/>x = " + d["x"] + "<br/>y = " + d["y"] )
                       .style("left", (d3.event.pageX + 5) + "px")
                       .style("top", (d3.event.pageY - 28) + "px");
              })
              .on("mouseout", function(d) {
                  tooltip.transition()
                       .duration(500)
                       .style("opacity", 0);
              })
              ;

            // draw centroid (mean point)
            var pointMeans = graph.selectAll('.pointMeans'+i).data(jsonData[i]["centroid"]);
            pointMeans.enter().append('circle').attr('class','pointMeans'+i)
              .attr('cx', function(d){ return x(d["x"]); })
              .attr('cy', function(d){ return y(d["y"]); })
              .attr("fill", "white")
              .attr("stroke", function(d) { return color[i]; })
              .attr("stroke-width",2)
              .attr("r", function(d, i) { return 5 });

        };
        var xl = document.getElementsByClassName("estEnMarge");
        var i;
        for (i = 0; i < xl.length; i++) {
            xl[i].style.display = "block";
        }
        isMargeHidded = 1;
    }

    function redraw() 
    {
        graph.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
        for (var i = 0; i < nb_clusters; i++) 
        {
            var u, v, w;
            u = jsonData[i]["centroid"][0]["x"];
            v = jsonData[i]["centroid"][0]["y"];
            // draw lines
            // draw lines
            var lines = graph.selectAll('.lines'+i)
              .attr('stroke', function(d) { return color[i]; })
              .attr("stroke-width",0.5);

            lines.transition().duration(500)
              .attr('x2',x(u))
              .attr('y2',y(v))
              .attr('stroke', function(d) { return color[i]; })
              .attr("stroke-width",0.5);

            // draw centroid (mean point)
            var pointMeans = graph.selectAll('.pointMeans'+i).data(jsonData[i]["centroid"]);
            pointMeans.transition().duration(200)
              .attr('cx',function(d){ return x(d["x"]); })
              .attr('cy',function(d){ return y(d["y"]); });
            pointMeans.exit().remove();
        };
        var xl = document.getElementsByClassName("estEnMarge");
        var i;
        for (i = 0; i < xl.length; i++) {
            xl[i].style.display = "block";
        }
        isMargeHidded = 1;
    }

</script>

{% endblock %}