{% extends "base.html" %}

{% block title %}Ecran principal{% endblock %}

{% block content %}

{% load bootstrap %}
<div class="container">
	<table id="myTable" class="display" cellspacing="0" width="100%">

		<thead>
			<tr>
				{% autoescape off %}{{ thead }}{% endautoescape %}
			</tr>
		</thead>
		<tfoot>
			{% autoescape off %}{{ tfoot }}{% endautoescape %}
		</tfoot>
		<tbody>
			{% autoescape off %}{{ tbody }}{% endautoescape %}

			{% autoescape off %}{{ tstats }}{% endautoescape %}
		</tbody>


	</table>
</div>

<script>
	$(document).ready(function () {
		$('#myTable').DataTable({
			"scrollX": true,
			"ordering": false
		});

		$('#myTable').show();
	});
</script>





{% endblock %}